<div class="enterpriseWrapper">
    <!-- <div class="microSiteWrapper processesContent">
        <h1 class="micrositeWrapper__mainTitle">GOODBYE ENTERPRISE SOFTWARE, HELLO BUSINESS APPS</h1>
        <h2 class="micrositeWrapper__subTitle">Get Flexible, Low-Code Workflows and Forms that Your Teams Create Themselves</h2>
        <p class="micrositeWrapper__paragraphText">Enterprise software has expanded its footprint at a staggering clip, but it has created silos of business systems and data. Agile organizations need flexible, no-compromise business applications that pull systems together and can be rolled out fast.</p>
        <p class="micrositeWrapper__paragraphText">Download Goodbye Enterprise Software, Hello Business Apps, a whitepaper from K2 and learn more about these key takeaways:</p>
        <ul class="micrositeWrapper__enterpriseSoftwareList">
        	<li class="micrositeWrapper__paragraphText">
        		Enterprise applications are inherently inflexible. They place a stranglehold on important data and have left business processes in a state of constriction.
        	</li>
        	<li class="micrositeWrapper__paragraphText">
        		Custom application development is expensive, inefficient, and often painful to maintain – especially as technology and software environments change.
        	</li>
        	<li class="micrositeWrapper__paragraphText">
        		Business apps span data and systems and enable process automation across silos, allowing businesses to regain control and make better decisions.
        	</li>
        </ul>
    </div> -->

    <!-- Start of Form Data -->

    <iframe src="http://content.k2.com/nurture_70114000002K7qg" width="100%" id="enterpriseIframe"></iframe>

</div>    